@using winter_intex_2_5.Data.Repositories;
<h1>Welcome to the Burial Record Summary</h1>
@model IEnumerable<SummaryTableRowItem>

<style>
    .arrow:hover {
        cursor: pointer;
    }
</style>
<div class="row">
    <h4>This is the filtering table hoo-rah</h4>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Textile color</th>
            <th>Textile structure</th>
            <th>Sex</th>
            <th>Burial Depth</th>
            <th>Estimate Stature</th>
            <th>Age at Death</th>
            <th>Head Direction</th>
            <th>Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)</th>
            <th>Textile Function</th>
            <th>Hair Color</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var rowItem in Model)
            {
                <tr>
                    <td>@String.Join(", ", rowItem.Colors.Select(x => x.Value))</td>
                    <td>@String.Join(", ", rowItem.Structures.Select(x => x.Value))</td>
                    <td>@rowItem.Burialmain.Sex</td>
                    <td>@rowItem.Burialmain.Depth</td>
                    <td>@String.Join(", ", rowItem.Bodyanalysischarts.Select(x => x.Estimatestature))</td>
                    <td>@rowItem.Burialmain.Ageatdeath</td>
                    <td>@rowItem.Burialmain.Headdirection</td>
                    <td>@rowItem.Burialmain.Burialid</td>
                    <td>@String.Join(", ", rowItem.Textilefunctions.Select(x => x.Value))</td>
                    <td>@rowItem.Burialmain.Haircolor</td>
                </tr>
            }
        }
    </tbody>
</table>
