@page
@model winter_intex_2_5.Pages.SummaryTableModel

@{
    ViewData["Title"] = "Burial Summary";
}



<style>
    .arrow:hover {
        cursor: pointer;
    }

    .filterTable {
        border-radius: 10px; /* Adjust the value to change the amount of rounding */
        background-color: #f2f2f2; /* Light grey background color */
        border: 2px solid #d9d9d9; /* Slightly darker grey border */
        padding: 10px; /* Optional: Add some padding inside the div */
    }

    #filterForm {
        transition: opacity 0.5s ease-in-out;
    }

    tr:hover {
        background-color: lightgrey;
    }
</style>

<div class="container">
    <main class="main-wrapper">
        <br />
        <div>
            <h1>View Burial Data</h1>
            <div>
                <p>"This database is designed to make the work of the BYU Egypt Excavation Project available to the world. It represents the data gained from decades of excavation combined with digital analytical power that should make any number of studies possible. We believe that the data presented herein makes it possible for us to tell something of the stories of those who lived so long ago in Egypt, and that those stories deserve to be told." (<a href="https://egypt.byu.edu" target="_blank">Current Fag el-Gamous page</a>)</p>
                <br />
                <p>On this page, filter data by one or more features to look for burials that fit certain criteria, or click on a specific burial to view more details, including images associated with that record.</p>
            </div>
            <br />
        </div>
        <div class="row">
            <div class="col-md-9 d-flex align-items-center" id="filterHandler">
                <h3>Filtering Table</h3>
                <div id="downArrow" style="height: 30px; width: 30px; display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 21l-8-8h16z" />
                    </svg>
                </div>
                <div id="upArrow" style="height: 30px; width: 30px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 3l8 8H4z" />
                    </svg>
                </div>
            </div>
            <div id="filterForm" class="filterTable">
                <form method="post">
                    <input type="hidden" name="currentPage" value="1" />
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Hair Color:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.HairColors" asp-items="Model.SummaryTableDefaults.HairColors.Select(x => new SelectListItem{ Text = Model.SummaryTableDefaults.RecordedHairColors.ContainsKey(x) ? Model.SummaryTableDefaults.RecordedHairColors[x]: x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Structure:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.Structures" asp-items="Model.SummaryTableDefaults.Structures.Select(x => new SelectListItem{ Text = x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Age at Death:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.DeathAges" asp-items="Model.SummaryTableDefaults.DeathAges.Select(x => new SelectListItem{ Text = Model.SummaryTableDefaults.RecordedDeathAges.ContainsKey(x) ? Model.SummaryTableDefaults.RecordedDeathAges[x] : x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Head Direction:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.HeadDirections" asp-items="Model.SummaryTableDefaults.HeadDirections.Select(x => new SelectListItem{ Text = Model.SummaryTableDefaults.RecordedHeadDirections.ContainsKey(x) ? Model.SummaryTableDefaults.RecordedHeadDirections[x] : x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Textile Function:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.TextileFunctions" asp-items="Model.SummaryTableDefaults.TextileFunctions.Select(x => new SelectListItem{ Text = x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Textile Color:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.TextileColors" asp-items="Model.SummaryTableDefaults.TextileColors.Select(x => new SelectListItem{ Text = x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="py-1">
                                <h4><b>Burial ID:</b></h4>
                            </div>
                            <div class="py-1">
                                <select asp-for="SummaryTableFilter.BurialIDs" asp-items="Model.SummaryTableDefaults.BurialIDs.Select(x => new SelectListItem{ Text = x, Value = x})" multiple class="custom-select"></select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <h4><label for="minimum-depth">Burial Depth:</label></h4>
                                <div class="form-group">
                                    <label asp-for="SummaryTableFilter.MinDepth">Minimum Depth:</label>
                                    <input asp-for="SummaryTableFilter.MinDepth" id="minimum-depth" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="SummaryTableFilter.MaxDepth">Maximum Depth:</label>
                                    <input asp-for="SummaryTableFilter.MaxDepth" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4><label for="estimate-stature">Estimate Stature:</label></h4>
                                <div class="form-group">
                                    <label asp-for="SummaryTableFilter.MinStature">Minimum Stature:</label>
                                    <input asp-for="SummaryTableFilter.MinStature" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label asp-for="SummaryTableFilter.MaxStature">Maximum Stature:</label>
                                    <input asp-for="SummaryTableFilter.MaxStature" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            @if (Model.AllSummaryTables.Any(x => x.Sex == "M" || x.Sex == "F"))
                            {
                                    <h4>Sex:</h4>
                                    @if (Model.AllSummaryTables.Any(x => x.Sex == "M"))
                                    {
                                    <div class="form-check">
                                        
                                        <input class="form-check-input form-group" id="male" asp-for="SummaryTableFilter.Male" />
                                        <label class="form-check-label">Male</label>

                                    </div>
                                    }
                                    else if (Model.SummaryTableFilter.NotFilter && Model.SummaryTableFilter.Male)
                                    {
                                        <div class="form-check">
                                            
                                            <input class="form-check-input form-group" id="male" type="checkbox" asp-for="SummaryTableFilter.Male" />
                                        <label class="form-check-label">Male</label>
                                        </div>
                                    }
                                    @if (Model.AllSummaryTables.Any(x => x.Sex == "F"))
                                    {
                                        <div class="form-check">
                                            
                                            <input class="form-check-input form-group" id="female" type="checkbox" asp-for="SummaryTableFilter.Female" />
                                        <label class="form-check-label">Female</label>
                                        </div>
                                    }
                                    else if (Model.SummaryTableFilter.NotFilter && Model.SummaryTableFilter.Female)
                                    {
                                        <div class="form-check">
                                            
                                            <input class="form-check-input form-group" id="female" type="checkbox" asp-for="SummaryTableFilter.Female" />
                                        <label class="form-check-label" >Female</label>
                                        </div>
                                    }
                            }
                        </div>
                        <div class="col-md-4">
                            <div class="form-check">
                                <label for="not">Not</label>
                                <input class="form-check-input form-group" id="not" type="checkbox" asp-for="SummaryTableFilter.NotFilter" />
                            </div>
                        </div>
                    </div>
                      <br/>
                      <br/>
                      <br/>
                      <br/>
                    <div class="row">
                        <div class="col-md-4">
                        <button class="button-primary w-button" type="submit">Filter Burial Records</button>
                        </div>
                    </div>
                </form>
                <form class="push-right" method="post" asp-page-handler="Reset">
                    <button class="button-primary w-button button-warning" type="submit">Reset Filters</button>
                </form>
            </div>
        </div>
        <br /><br />
        <div class="btn-group" role="group" aria-label="pagination">
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                @if (i == Model.CurrentPage)
                {
                    <div class="btn btn-outline-primary">@i</div>
                }
                else
                {
                    @if (Model.RePost)
                    {
                        <form method="post">
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.HairColors" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.Male" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.Female" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.Structures" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.DeathAges" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.HeadDirections" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.TextileColors" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.TextileFunctions" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.BurialIDs" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.MinDepth" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.MaxDepth" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.MinStature" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.MaxStature" />
                            <input type="hidden" asp-for="@Model.SummaryTableFilter.NotFilter" />
                            <input type="hidden" name="currentPage" value="@i" />
                            <button type="submit" class="btn btn-primary">@i</button>
                        </form>
                    }
                    else
                    {
                        <a asp-page="/SummaryTable" asp-route-currentPage="@i" asp-route-filteredSummaryTableFilter="@Model.SummaryTableFilter" class="btn btn-primary">@i</a>
                    }
                }
            }
        </div>
        <br />
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="table-primary">
                    <th>Burial ID*</th>
                    <th>Hair Color</th>
                    <th>Age at Death</th>
                    <th>Sex</th>
                    <th>Burial Depth</th>
                    <th>Head Direction</th>
                    <th>Data Expert</th>
                    <th>Excavation Year</th>
                    <th>Textile Function</th>
                    <th>Textile color</th>
                    <th>Textile structure</th>
                    <th>View Summary</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CurrentSummaryTables != null)
                {
                    @foreach (var rowItem in Model.CurrentSummaryTables)
                    {
                        <tr>
                            <td>@rowItem.Burialid</td>
                            <td>@rowItem.Haircolor</td>
                            <td>@rowItem.Ageatdeath</td>
                            <td>@rowItem.Sex</td>
                            <td>@rowItem.Depth</td>
                            <td>@rowItem.Headdirection</td>
                            <td>@rowItem.Dataexpertinitials</td>
                            <td>@rowItem.Fieldbookexcavationyear</td>
                            <td>@rowItem.Textilefunction</td>
                            <td>@rowItem.Textilecolor</td>
                            <td>@rowItem.Structure</td>
                            <td>
                                <form method="post" asp-page="/RecordSummary">
                                    <input type="hidden" name="burialId" value="@rowItem.Id" />
                                    <button type="submit" class="btn btn-primary">Full Summary</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <div>
            <p>*Key for Burial Id: SNS = SquareNorthSouth, NS = NorthSouth, SEW = SquareEastWest, EW = EastWest, A = Area, BN = Burial Number </p>
            <br />
        </div>
    </main>
</div>
<script src="~/js/summaryTable.js"></script>
